# Dependências
node_modules/

# Variáveis de ambiente
.env

# Logs
*.log
npm-debug.log*

# Cobertura de testes
coverage/

# Configurações do VS Code
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db